.container-welcome {
    display: grid;
    background-color: #02a97f;
    height: 530px;
}

.title-homepage, .title3-homepage {
    color: white;
    margin: 30px 100px;
}

.search input {
    font-size: 1.3rem;
    margin-left: 100px;
    width: 750px;
    height: 50px;
    padding: 10px;
}

.btn-form-search {
    height: 75px;
    padding: 10px;
    width: 100px;
    background-color: purple;
    color: white;
}

.description-homepage {
    color: white;
    margin: 0px 100px;
    font-weight: 600;
}