body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

header {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  gap: 30px;
}

.nav-container {
  display: flex;
  justify-content: start;
  gap: 30px;
}

.title {
    color: white;
}

.nav-link, .list-header-link {
    text-decoration: none;
    color: white;
}

.list-header {
    list-style: none;
    display: flex;
    gap: 30px;
}

.footer {
    background-color: grey;
    margin-top: auto;
    text-align: center;
}

.conteudo-principal {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    gap: 20px;
    background-color: white;
    justify-content: space-between;
}

.container-carro {
    flex: 0 0 100px;
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}

.container-carro:hover {
    border: 2px solid red;
}

.preco {
    font-weight: 600;
}

#search {
    font-size: 1.2rem;
}

.botao-pesquisa {
    height: 32px;
    background-color: lightblue;
    color: white;
    margin-left: 10px;
}

form {
    margin: 0px 500px;
}

.nenhum-resultado {
    text-align: center;
    font-weight: 600;
    margin-left: 350px;
    font-size: 1.4rem;
}

.marcas {
    display: flex;
    background-color: red;
    color: white;
    height: 40px;
    justify-content: space-between;
}

.marca {
    text-decoration: none;
    color: white;
    margin: 10px 5px;
}
