body {
    background-color: white;
}

.offer-grid {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(191, 190, 189);
    width: 700px;
}

.offer-title {
    color: blue;
    margin-left: 10px;
}

.title-offer-page {
    text-align: center;
}

.p-offer {
    margin-left: 10px;
    margin-bottom: 0px;
}

.p-description {
    margin-left: 10px;
}

.section-content {
    display: grid;
    margin: 50px;
    gap: 20px;
    background-color: white;
    justify-content: center;
}

.btn-apply {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(158, 0, 63);
    width: 156px;
    padding: 10px;
    margin: 15px;
}

.offer-form-search {
    margin-left: 200px;
    margin-bottom: 20px;
}

#query-offer {
    font-size: 1.3rem;
}

.job-list-advice-null {
    text-align: center;
    font-weight: 600;
}

.btn-search-job {
    font-size: 1.3rem;
    color: white;
    background-color: green;
    border: 2px solid white;
    border-radius: 5px;
}

.btn-edit {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: rgb(158, 0, 63);
    width: 156px;
    padding: 10px;
    margin: 15px;
}

.btn-joblist-container {
    display: flex;
    flex-direction: row;
}