.title-advice, .p-advice {
    text-align: center;
}

.password-recovery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.password-recovery-form input {
    font-size: 1.3rem;
    justify-content: center;
}

.btn-password-recovery {
    background-color: green;
    color: white;
    font-size: 1rem;
    border: 3px solid green;
    border-radius: 3px;
    margin: 30px 120px;
}
