.label-register-form {
    display: block;
    margin-bottom: 10px;
}

.title-register {
    text-align: center;
}

.btn-register-form {
    display: block;
    margin: 30px 220px;
    font-size: 1.3rem;
    background-color: green;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}

.register-form input {
    font-size: 1.3rem;
    margin: 10px 140px;
}

.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    border: 1px solid black;
    border-radius: 5px;
    width: 550px;
}

.register-form label {
    margin: 20px 140px;
}