{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/password_recovery_all.css' %}">
{% endblock %}

{% block content %}
    <main class="password-recovery-container">
        <h2 class="title-password-recovery">Redefinir Senha</h2>
        <form class="password-recovery-form" method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn-password-recovery" type="submit">Redefinir</button>
        </form>
    </main>
{% endblock %}