{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/password_recovery_all.css' %}">
{% endblock %}

{% block content %}
    <main class="">
        <h2 class="title-advice">Redefinição de Senha Enviada</h2>
        <p class="p-advice">Nós te enviamos um email com instruções para configurar sua senha, se uma conta existe com o email fornecido.<br>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço corretamente, e verifique sua pasta de spam.</p>
    </main>
{% endblock %}