{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/detail_offer.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2 class="title-detail-offer">Saiba Mais</h2>
        <section class="offer-detail-container">
            <div class="offer-grid">
                    <h3 class="offer-title">{{ offer.title }}</h3>
                    <p class="p-offer"><strong>Nome da Empresa :</strong> {{ offer.organization_name }}</p>
                    <p class="p-offer"><strong>Salário :</strong>{{ offer.salary }}</p>
                    <p class="p-offer"><strong>Localização :</strong> {{ offer.location }}</p>
                    <p class="p-offer"><strong>Data da Publicação :</strong>  {{ offer.publication_date }}</p>
                    <p class="p-offer"><strong>Usuário :</strong> {{ offer.autor|capfirst }}</p>
                    <p class="p-offer"><strong>Email do Recrutador :</strong> {{ offer.recruiter_email }}</p>
                    <p class="p-offer"><strong>Visualizações :</strong> {{ offer.number_of_views }}</p>
                    <p class="tag-description">Descrição da Vaga :</p>
                    <p class="p-description"> {{ offer.description }}</p>
                    <p class="tag-description">Descrição da Empresa :</p>
                    <p class="p-description"> {{ offer.organization_description }}</p>
            </div>
        </section>
    </main>
{% endblock %}