{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/job_list.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2 class="title-offer-page">Todas as Ofertas</h2>
        <section class="section-content">
            <form class="offer-form-search" method="GET">
                <input id="query-offer" name="search", value="{{ search }}">
                <button class="btn-search-job">Procurar</button>
            </form>
            <p class="total-of-offers">{{ total_offers_found }} vaga(s)</p>
    {% if object_list %}
        {% for offer in object_list %}
            <div class="offer-grid">
                <h3 class="offer-title">{{ offer.title }}</h3>
                <p class="p-offer"><strong>Nome da Empresa :</strong> {{ offer.organization_name }}</p>
                <p class="p-offer"><strong>Salário :</strong> R$ {{ offer.salary }}</p>
                <p class="p-offer"><strong>Localização :</strong> {{ offer.location }}</p>
                <p class="p-offer"><strong>Data da Publicação :</strong> {{ offer.publication_date }}</p>
                <p class="p-offer"><strong>Usuário :</strong> {{ offer.autor|capfirst }}</p>
                <p class="p-offer"><strong>Email do Recrutador :</strong> {{ offer.recruiter_email }}</p>
                {% if offer.company_site is not None or offer.company_site == '' %}
                    <a class="p-offer" href="{{ offer.company_site }}">Site da Empresa</a>
                {% endif %}
                <p class="p-description"> {{ offer.description }}</p>
                <div class="btn-joblist-container">
                    <p class="btn-status">Em aberto</p>
                    <a class="btn-detail" href="{% url 'detail_offer' offer.id %}">Ver Tudo</a>
                    <p class="email-text">Para se candidatar envie seu currículo para : {{ offer.recruiter_email }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p class="job-list-advice-null">Nenhum resultado encontrado.</p>
    {% endif %}
        </section>

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                {% endif %}
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                {% if page_obj.has_next %}
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                {% endif %}
            </span>
        </div>

    </main>
{% endblock %}