{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/job_list.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2 class="title-offer-page">Todas as Ofertas</h2>
        <section class="section-content">
            <form class="offer-form-search" method="GET">
                <input id="query-offer" name="search">
                <button class="btn-search-job">Procurar</button>
            </form>
    {% if object_list %}
        {% for offer in object_list %}
            <div class="offer-grid">
                <h3 class="offer-title">{{ offer.title }}</h3>
                <p class="p-offer">{{ offer.organization_name }}</p>
                <p class="p-offer">{{ offer.salary }}</p>
                <p class="p-offer"> {{ offer.location }}</p>
                <p class="p-offer"> {{ offer.publication_date }}</p>
                <p class="p-offer"> {{ offer.autor|capfirst }}</p>
                <p class="p-description"> {{ offer.recruiter_email }}</p>
                <p class="p-description"> {{ offer.description }}</p>
                <div class="btn-joblist-container">
                    <a class="btn-apply" href="/">Quero me candidatar</a>
                    <a class="btn-edit" href="{% url 'update_offer' offer.id %}">Editar Oferta</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
            <p class="job-list-advice-null">Nenhum resultado encontrado.</p>
    {% endif %}
        </section>
    </main>
{% endblock %}