{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/update_offer.css' %}">
{% endblock %}

{% block content %}
    <main>
        <h2 class="update-offer-text">Edite a Oferta</h2>
        <section class="update-form-container">
            <form class="update-form-offer" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn-update-form">Atualizar</button>
            </form>
        </section>
    </main>
{% endblock %}