{% extends 'base.html' %}

{% block styles %}
    {{ block.super }}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/homepage.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="container-welcome">
            <h2 class="title-homepage">Bem Vindo ao EmpregosOn</h2>
            <p class="description-homepage">São mais de 100.000 vagas esperando por você.</p>
            <p class="description-homepage">As melhores empresas anunciam suas vagas conosco.</p>
            <p class="description-homepage">Nossa plataforma é 100% gratuita.</p>
            <h3 class="title3-homepage">Encontre a sua vaga perfeita agora mesmo !</h3>
            <form class="search" method="GET" action="{% url 'job_list' %}">
                <input id="search" name="search" placeholder="Digite por uma vaga">
                <button class="btn-form-search">OK</button>
            </form>
        </section>
    </main>
{% endblock %}